body{
  background-color: #eaf6f6;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h2{
  color: #1a3e59;
}
h3{
  color: #1a3e59;
}
img{
  color: #1a3e59;
}
h1{
  color: #1a3e59;
  font-size: 40px;
}
img:hover{
  background-color: black;
}
.circular{
  border-radius: 100%
}
